<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="vendor/datatables/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="vendor/datatables/css/buttons.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="vendor/datatables/css/select.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="vendor/datatables/css/fixedHeader.bootstrap4.css">

    <link rel="stylesheet" type="text/css" href="css/no-more-tables.css">

    <title>OBPC System</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light bproduct-bottom">
        <button class="btn" id="menu-toggle">
            <i class="large material-icons">menu</i>
        </button>

        <div><b>Casa das Bebidas - Delivery System</b></div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>

    <div class="d-flex" id="wrapper">

        <div class="bg-light bproduct-right" id="sidebar-wrapper">
            <!-- <div class="sidebar-heading"><b>OBPC - System</b></div> -->
            <div class="list-group list-group-flush">
                <a href="./home" class="list-group-item list-group-item-action bg-light">Home</a>
                <a href="./products" class="list-group-item list-group-item-action bg-light">Produtos</a>
                <button class="btn btn-danger" data-toggle="modal" data-backdrop="static"
                    data-target="#myModal">Logout</button>
            </div>
        </div>

        <!-- Modal Logout -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Logout</h4>
                    </div>
                    <div class="modal-body">
                        <p style="text-align: left;">Deseja mesmo sair do sistema?</p>
                    </div>
                    <div class="modal-footer">
                        <button id="logoutButton" type="button" class="btn btn-danger" data-dismiss="modal">Sim</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Não</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- LISTA DE MODAIS DE PRODUTOS -->
        <div>

            <!-- Modal para Inserção de Produtos -->
            <div class="modal fade" id="registerProductModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Insira as Informações do Novo Produto</h4>
                        </div>
                        <div class="modal-body">
                            <form id="registerProductForm">
                                <div class="form-group">
                                    <label for="nome" class="col-form-label">Nome</label>
                                    <input id="nome" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="imagem" class="col-form-label">Imagem</label>
                                    <input id="imagem" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="valor" class="col-form-label">Valor</label>
                                    <input id="valor" type="text" class="form-control">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="btnDAORegisterProduct" type="button"
                                class="btn btn-rounded btn-success">Registrar</button>
                            <button type="button" class="btn btn-rounded btn-danger"
                                data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal para Edição de Products -->
            <div class="modal fade" id="updateProductModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Insira as Novas Informações do Produto</h4>
                        </div>
                        <div class="modal-body">
                            <form id="updateProductForm">
                                <div class="form-group">
                                    <label for="id" class="col-form-label">ID</label>
                                    <input id="id_produtoUpd" disabled type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="nome" class="col-form-label">Nome</label>
                                    <input id="nomeUpd" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="imagem" class="col-form-label">Imagem</label>
                                    <input id="imagemUpd" type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="valor" class="col-form-label">Valor</label>
                                    <input id="valorUpd" type="text" class="form-control">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="btnDAOUpdateProduct" type="button"
                                class="btn btn-rounded btn-success">Alterar</button>
                            <button type="button" class="btn btn-rounded btn-danger"
                                data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal para Exclusão de Products -->
            <div class="modal fade" id="deleteProductModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4>Você deseja mesmo excluir este Produto?</h4>
                            <h5 id="nomeDel" class="centeredX"></h5>
                            <input id="id_produtoDel" class="invisible" />
                        </div>
                        <div class="modal-footer">
                            <button id="btnDAODeleteProduct" type="button"
                                class="btn btn-rounded btn-success">Sim</button>
                            <button type="button" class="btn btn-rounded btn-danger" data-dismiss="modal">Não</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div id="page-content-wrapper">

            <div class="container-fluid">

                <!-- Data Tables -->

                <div id="productDataTable" class="row dataTableRow" style="padding-top:2%;">

                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-10">
                                <h4>Lista de Produtos Cadastrados</h4>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-success floatRight" data-toggle="modal"
                                    data-target="#registerProductModal" data-backdrop="static"
                                    onclick="preRegisterProduct(this)">Adicionar</button>
                            </div>
                        </div>

                    </div>

                </div>

                <br>
                
                <div id="productTableBody" class="row" style="margin-right: 5%; margin-left: 5%; max-height: 1800px; overflow-y: scroll;"></div>

            </div>

        </div>

</body>

<!-- <link href="css/produtos.css" rel="stylesheet"> -->
<link href="css/snippetCards.css" rel="stylesheet">
<link href="css/rotatingCards.css" rel="stylesheet">
<link href="css/simple-sidebar.css" rel="stylesheet">
<link href="css/general.css" rel="stylesheet">

<script src="js/products.js"></script>
<script src="js/system/simple-sidebar.js"></script>
<script src="js/system/dataTable.js"></script>

<script src="js/system/httpRequisitions.js"></script>
<!-- <script src="js/system/fillSelects.js"></script> -->
<script src="js/system/validations.js"></script>
<script src="js/system/utilities.js"></script>
<script src="js/system/validationInput.js"></script>
<script src="js/system/jquery.mask.js"></script>

</html>